@import '~carbon-components/scss/globals/scss/_theme';
@import '../public/fonts/fonts.css';
@import './carbon-overrides';

body {
  font-family: 'Poppins', 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DG', 'IBM Plex Sans', sans-serif;
  line-height: 1.25em;
}

h3 {
  letter-spacing: 0.07rem;
  font-weight: 500;
}
